<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 form-wrapper" data-form-type="formoid">            
          <div class="form-head">
          </div>
          <div class="form1" data-form-type="formoid">
              <div data-form-alert="" hidden="">Thanks for filling out the form!</div>
              <form class="mbr-form" action="" method="post" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="WVsffzeYeLQfMpd1RC9HiCu6BGYod5Ksxh3he7JBTqfTFeqi6Hho25c50r6cQxyO0EKG6D5XX8Ta6hj6yFjYvJAHzishJP+rmQ7SfL2E8ON8eAfK2XX2/PcSTrixfjJ4">
                  <div class="input-wrap" data-for="firstname">
                      <label class="form-label-outside mbr-lighter" for="form-1-firstname">Email</label>
                      <input type="text" class="form-control" name="firstname" data-form-field="First Name" required="" id="firstname-form4-1">
                  </div>
                  <div class="input-wrap" data-for="email">
                      <label class="form-label-outside mbr-lighter" for="form-1-email">Password</label>
                      <input type="email" class="form-control" name="email" data-form-field="Email" [required]="passwordRequired" id="email-form4-1">
                  </div>
                  <span class="input-group-btn"><button href="" type="submit" class="btn btn-lg btn-form btn-info display-4">Login</button></span>
              </form>
          </div>
      </div>
  </div>
</div>